/* Navbar.module.css */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(22, 22, 26, 0.785);
  color: rgb(224, 234, 240);
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

.nav svg {
  width: 24px; /* Adjust size as needed */
  height: 24px;
  fill: currentColor; /* Use parent color (from .nav a) */
}
