:root {
  --input-bg-color-light: #008080;
  --input-text-color-light: #fff;
  --icon-color-light: #fff;
  --input-box-shadow-light: none;

  --input-bg-color-dark: #1a2130;
  --input-text-color-dark: #fff;
  --icon-color-dark: #fff;
  --input-box-shadow-dark: 1.5px 1.5px 3px rgba(255, 255, 255, 0.1),
    -1.5px -1.5px 3px rgba(255, 255, 255, 0.1);
}

.container {
  position: relative;
  --size-button: 40px;
  color: var(--input-text-color-light);
}

.input {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  color: var(--input-text-color-light);
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: var(--input-bg-color-light);
  box-shadow: var(--input-box-shadow-light);
  border-radius: 50px;
  cursor: pointer;
}

.input:focus,
.input:not(:invalid) {
  width: 200px;
  cursor: text;
  box-shadow: var(--input-box-shadow-light);
}

.input:focus + .icon,
.input:not(:invalid) + .icon {
  pointer-events: all;
  cursor: pointer;
}

.icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 0;
  padding: 8px;
  pointer-events: none;
}

.ionicon {
  width: 100%;
  height: 100%;
  fill: var(--icon-color-light);
}

[data-theme="dark"] {
  --input-bg-color-light: var(--input-bg-color-dark);
  --input-text-color-light: var(--input-text-color-dark);
  --icon-color-light: var(--icon-color-dark);
  --input-box-shadow-light: var(--input-box-shadow-dark);
}
